@font-face {
    font-family: 'CardboardCat';
    src: url('CardboardCat-Bold.woff2') format('woff2'),
        url('CardboardCat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
